In [92]:
#importing the dataset

In [93]:
import pandas as pd
import numpy as np

In [94]:
df=pd.read_excel("Canada.xlsx",sheet_name='Canada by Citizenship',skiprows=range(20),skipfooter=2)

In [95]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [96]:
df.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [97]:
df.shape

(195, 43)

In [98]:
df.size

8385

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
Type        195 non-null object
Coverage    195 non-null object
OdName      195 non-null object
AREA        195 non-null int64
AreaName    195 non-null object
REG         195 non-null int64
RegName     195 non-null object
DEV         195 non-null int64
DevName     195 non-null object
1980        195 non-null int64
1981        195 non-null int64
1982        195 non-null int64
1983        195 non-null int64
1984        195 non-null int64
1985        195 non-null int64
1986        195 non-null int64
1987        195 non-null int64
1988        195 non-null int64
1989        195 non-null int64
1990        195 non-null int64
1991        195 non-null int64
1992        195 non-null int64
1993        195 non-null int64
1994        195 non-null int64
1995        195 non-null int64
1996        195 non-null int64
1997        195 non-null int64
1998        195 non-null int64
1999        195 non-null int64
2000        195 non-null int64
2001        195 non-null int64
2002        195 non-null int64
2003        195 non-null int64
2004        195 non-null int64
2005        195 non-null int64
2006        195 non-null int64
2007        195 non-null int64
2008        195 non-null int64
2009        195 non-null int64
2010        195 non-null int64
2011        195 non-null int64
2012        195 non-null int64
2013        195 non-null int64
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [100]:
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [101]:
df.index

RangeIndex(start=0, stop=195, step=1)

In [102]:
df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,912.764103,1249.015385,901.753846,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,...,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564
std,13.082835,1185.526885,0.431878,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,...,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.000000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000
50%,908.000000,922.000000,902.000000,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,...,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000
75%,922.000000,925.500000,902.000000,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,...,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000
max,935.000000,5501.000000,902.000000,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,...,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

In [103]:
df.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013]

In [104]:
df.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194]

In [105]:
# removing unnecessary columns

In [106]:
df.drop(columns=['AREA','REG','DEV','Type','Coverage'],inplace=True)

In [107]:
df

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
5,Angola,Africa,Middle Africa,Developing regions,1,3,6,6,4,3,...,268,295,184,106,76,62,61,39,70,45
6,Antigua and Barbuda,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,42,52,...,14,24,32,15,32,38,27,37,51,25
7,Argentina,Latin America and the Caribbean,South America,Developing regions,368,426,626,241,237,196,...,1591,1153,847,620,540,467,459,278,263,282
8,Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,147,224,218,198,205,267,252,236,258,207
9,Australia,Oceania,Australia and New Zealand,Developed regions,702,639,484,317,317,319,...,930,909,875,1033,1018,1018,933,851,982,1121
10,Austria,Europe,Western Europe,Developed regions,234,238,201,117,127,165,...,118,122,102,98,91,109,124,84,102,90
11,Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,...,230,359,236,203,125,165,209,138,161,57
12,Bahamas,Latin America and the Caribbean,Caribbean,Developing regions,26,23,38,12,21,28,...,13,14,18,23,30,27,25,40,60,55
13,Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,...,12,12,12,22,9,35,28,21,39,32
14,Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
15,Barbados,Latin America and the Caribbean,Caribbean,Developing regions,372,376,299,244,265,285,...,90,111,97,130,134,125,121,97,132,97
16,Belarus,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,...,543,558,439,568,524,454,438,357,277,247
17,Belgium,Europe,Western Europe,Developed regions,511,540,519,297,183,181,...,411,400,302,363,335,358,363,332,402,379
18,Belize,Latin America and the Caribbean,Central America,Developing regions,16,27,13,21,37,26,...,25,37,24,28,48,38,39,36,34,53
19,Benin,Africa,Western Africa,Developing regions,2,5,4,3,4,3,...,112,95,116,183,205,238,290,284,391,397
20,Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,...,1,5,10,7,36,865,1464,1879,1075,487
21,Bolivia (Plurinational State of),Latin America and the Caribbean,South America,Developing regions,44,52,42,49,38,44,...,85,134,139,107,143,214,180,86,83,107
22,Bosnia and Herzegovina,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,188,211,217,209,182,156,168,140,121,119
23,Botswana,Africa,Southern Africa,Developing regions,10,1,3,3,7,4,...,9,7,11,8,28,15,42,53,64,76
24,Brazil,Latin America and the Caribbean,South America,Developing regions,211,220,192,139,145,130,...,917,969,1181,1746,2138,2509,2598,1508,1642,1714
25,Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,...,3,4,5,11,10,5,12,6,3,6
26,Bulgaria,Europe,Eastern Europe,Developed regions,24,20,12,33,11,24,...,2022,1738,1419,1172,994,784,556,365,451,512
27,Burkina Faso,Africa,Western Africa,Developing regions,2,1,3,2,3,2,...,97,91,147,136,139,162,186,144,269,322
28,Burundi,Africa,Eastern Africa,Developing regions,0,0,0,0,1,2,...,559,626,468,614,448,566,529,604,684,480
29,Cabo Verde,Africa,Western Africa,Developing regions,1,1,2,0,11,1,...,3,5,7,2,5,1,3,3,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Suriname,Latin America and the Caribbean,South America,Developing regions,15,10,21,12,5,16,...,17,15,16,20,9,12,13,11,16,4
166,Swaziland,Africa,Southern Africa,Developing regions,4,1,1,0,10,7,...,8,7,7,5,6,10,3,13,17,39
167,Sweden,Europe,Northern Europe,Developed regions,281,308,222,176,128,158,...,129,205,139,193,165,167,159,134,140,140
168,Switzerland,Europe,Western Europe,Developed regions,806,811,634,370,326,314,...,337,270,258,308,357,328,285,266,243,201
169,Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,...,1116,1458,1145,1056,919,917,1039,1005,650,1009
170,Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,14,85,46,44,15,50,52,47,34,39
171,Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,...,392,575,500,487,519,512,499,396,296,400
172,The former Yugoslav Republic of Macedonia,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,443,285,256,211,191,198,188,130,126,112
173,Togo,Africa,Western Africa,Developing regions,5,5,2,3,6,5,...,163,157,149,235,351,400,354,261,299,316
174,Tonga,Oceania,Polynesia,Developing regions,2,4,7,1,2,5,...,5,2,0,1,0,5,5,2,3,5
175,Trinidad and Tobago,Latin America and the Caribbean,Caribbean,Developing regions,958,947,972,766,606,699,...,730,857,794,975,1002,1134,915,588,586,427
176,Tunisia,Africa,Northern Africa,Developing regions,58,51,55,46,51,57,...,764,756,1065,869,950,1195,1299,1442,1503,1627
177,Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,...,1736,2065,1638,1463,1122,1238,1492,1257,1068,729
178,Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,16,40,26,37,13,20,30,20,20,14
179,Tuvalu,Oceania,Polynesia,Developing regions,0,1,0,0,1,0,...,2,0,0,1,0,0,0,1,0,0
180,Uganda,Africa,Eastern Africa,Developing regions,13,16,17,38,32,29,...,160,239,201,170,204,185,216,213,222,206
181,Ukraine,Europe,Eastern Europe,Developed regions,0,0,0,0,0,0,...,2431,2270,1973,2218,1937,2367,3159,2515,2265,2487
182,United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,...,41,31,42,37,33,37,86,60,54,46
183,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,...,7533,7258,7140,8216,8979,8876,8724,6204,6195,5827
184,United Republic of Tanzania,Africa,Eastern Africa,Developing regions,635,832,621,474,473,460,...,310,274,291,195,230,136,200,215,224,182
185,United States of America,Northern America,Northern America,Developed regions,9378,10030,9074,7100,6661,6543,...,6990,8394,9613,9463,10190,8995,8142,7676,7891,8501
186,Uruguay,Latin America and the Caribbean,South America,Developing regions,128,132,146,105,90,92,...,130,217,175,147,160,99,93,81,47,58
187,Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,...,175,330,262,284,215,288,289,162,235,167
188,Vanuatu,Oceania,Melanesia,Developing regions,0,0,0,0,0,0,...,1,1,1,0,0,1,0,0,0,0
189,Venezuela (Bolivarian Republic of),Latin America and the Caribbean,South America,Developing regions,103,117,174,124,142,165,...,1224,1211,1192,1335,1239,1353,998,1452,1373,1022
190,Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,124,161,140,122,133,128,211,160,174,217
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,56,91,77,71,64,60,102,69,46,59
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,1450,615,454,663,611,508,494,434,437,407

In [108]:
#renaming the columns

In [109]:
df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'},inplace=True)

In [110]:
df.head(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

In [111]:
df['Total']=df.sum(axis=1)
#axis=1 rowwise2

In [112]:
df.columns.values

array(['Country', 'Continent', 'Region', 'DevName', 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 'Total'],
      dtype=object)

In [113]:
#to check the number of null values in the dataframe

In [114]:
df.isnull().sum().sum()

0

In [115]:
# Indexing and Selection (slicing)

In [116]:
df[["Region","Continent"]].head(2)

            Region Continent
0    Southern Asia      Asia
1  Southern Europe    Europe

In [117]:
# Select Row

In [118]:
df.set_index('Country', inplace=True)

In [119]:
df.head()

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [120]:
# optional: to remove the name of the index
df.index.name = None

In [127]:
df.head(2)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699

In [126]:
# df.loc[label]        
        #filters by the labels of the index/column
#     df.iloc[index]       
        #filters by the positions of the index/column

In [124]:
# 1. the full row data (all columns)
print(df.loc['Algeria'])

Continent                Africa
Region          Northern Africa
DevName      Developing regions
1980                         80
1981                         67
1982                         71
1983                         69
1984                         63
1985                         44
1986                         69
1987                        132
1988                        242
1989                        434
1990                        491
1991                        872
1992                        795
1993                        717
1994                        595
1995                       1106
1996                       2054
1997                       1842
1998                       2292
1999                       2389
2000                       2867
2001                       3418
2002                       3406
2003                       3072
2004                       3616
2005                       3626
2006                       4807
2007                       3623
2008                       4005
2009                       5393
2010                       4752
2011                       4325
2012                       3774
2013                       4331
Total                     69439
Name: Algeria, dtype: object

In [132]:
# 2. for year 2013
print(df.loc['Algeria', 2013])

#alternate using iloc
print(df_can.iloc[2, 36]) # year 2013 is the last column, with a positional index of 36

4331
3623

In [135]:
# 3. for years 1980 to 1985
print(df.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1985]])
print(df.iloc[87, [3, 4, 5, 6, 7, 8]])

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object
1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

In [136]:
df_can.columns = list(map(str, df_can.columns))
# [print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

In [138]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [146]:
condition =df['Continent']=='Asia'

In [147]:
df[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2006,2007,2008,2009,2010,2011,2012,2013,Total,continent
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3009,2652,2111,1746,1758,2203,2635,2004,58639,Asia
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,218,198,205,267,252,236,258,207,3310,Asia
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,236,203,125,165,209,138,161,57,2649,Asia
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,12,22,9,35,28,21,39,32,475,Asia
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4014,2897,2939,2104,4721,2694,2640,3789,65568,Asia
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,10,7,36,865,1464,1879,1075,487,5876,Asia
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,5,11,10,5,12,6,3,6,600,Asia
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,529,460,354,203,200,196,233,288,6538,Asia
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,33518,27642,30037,29622,30391,28502,33024,34129,659962,Asia
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,712,674,897,657,623,591,728,774,9327,Asia
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,32,16,12,21,21,13,33,29,284,Asia
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,9,4,7,6,18,6,12,16,1126,Asia
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,10,7,19,11,45,97,66,17,388,Asia
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,125,132,112,128,126,139,147,125,2068,Asia
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33848,28742,28261,29456,34235,27509,30933,33087,691904,Asia
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,613,657,661,504,712,390,395,387,13150,Asia
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,7480,6974,6475,6580,7477,7479,7534,11291,175923,Asia
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,1788,2406,3543,5450,5941,6196,4041,4918,69789,Asia
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,2625,2401,2562,2316,2755,1970,2134,1945,66508,Asia
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,1212,1250,1284,1194,1168,1265,1214,982,27707,Asia
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1827,1421,1581,1235,1831,1635,1206,1255,35406,Asia
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,408,436,394,431,377,381,462,348,8490,Asia
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,35,62,53,68,67,58,73,48,2025,Asia
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,161,135,168,173,157,159,278,123,2353,Asia
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,74,53,32,39,54,22,25,15,1089,Asia
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,3802,3467,3566,3077,3432,3072,1614,2172,115359,Asia
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,580,600,658,640,802,409,358,204,24417,Asia
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,2,1,7,4,3,1,1,30,Asia
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,64,82,59,118,169,103,68,99,952,Asia
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,953,1887,975,1153,556,368,193,262,9245,Asia
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,540,511,581,561,1392,1129,1185,1308,10222,Asia
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,18,16,10,7,14,10,13,11,224,Asia
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,13127,10124,8994,7217,6811,7468,11227,12603,241600,Asia
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,18400,19837,24887,28573,38617,36765,34315,29544,511391,Asia
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,2,5,9,6,18,3,14,6,157,Asia
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,6215,5920,7294,5874,5537,4588,5316,4509,142581,Asia
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,252,188,249,246,330,278,286,267,3425,Asia
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,298,690,734,366,805,219,146,141,14579,Asia
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4714,4123,4756,4547,4422,3309,3338,2394,148358,Asia
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,627,441,481,400,654,555,533,462,6512,Asia
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1145,1056,919,917,1039,1005,650,1009,31485,Asia
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,46,44,15,50,52,47,34,39,503,Asia
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,500,487,519,512,499,396,296,400,9174,Asia
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,1638,1463,1122,1238,1492,1257,1068,729,31781,Asia
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,26,37,13,20,30,20,20,14,310,Asia
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,42,37,33,37,86,60,54,46,836,Asia
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,262,284,215,288,289,162,235,167,3368,Asia
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,3153,2574,1784,2171,1942,1723,1731,2112,97146,Asia
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,140,122,133,128,211,160,174,217,2985,Asia

In [149]:
# we can pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df[(df['Continent']=='Asia') & (df['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2006,2007,2008,2009,2010,2011,2012,2013,Total,continent
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3009,2652,2111,1746,1758,2203,2635,2004,58639,Asia
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4014,2897,2939,2104,4721,2694,2640,3789,65568,Asia
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,10,7,36,865,1464,1879,1075,487,5876,Asia
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33848,28742,28261,29456,34235,27509,30933,33087,691904,Asia
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,7480,6974,6475,6580,7477,7479,7534,11291,175923,Asia
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,2,1,7,4,3,1,1,30,Asia
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,540,511,581,561,1392,1129,1185,1308,10222,Asia
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,13127,10124,8994,7217,6811,7468,11227,12603,241600,Asia
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4714,4123,4756,4547,4422,3309,3338,2394,148358,Asia

In [150]:
print('data dimensions:', df_can.shape)
print(df_can.columns)
df_can.head(2)

data dimensions: (195, 43)
Index(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'],
      dtype='object')

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603

In [151]:

# Visualizing Data using Matplotlib

In [152]:
%matplotlib inline

In [153]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [154]:
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

Matplotlib version:  3.0.3

In [157]:
print("Hwllo world")

Hwllo world